html,
body {
  position: relative;
  margin: 0;
  font-size: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: Roboto;
  background-color: #f4f4f4;
}

h1,
h2,
h3,
h4 {
  font-family: Overlock;
}

a {
  outline: 0;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

header {
  background: red;
  width: 200px;
  position: fixed;
  height: 100vh;
  z-index: 9999;
  top: 0;
}

.error_label {
  color: #fbfbfb;
  background: #f44336;
  font-weight: 700;
}

header .wrapper {
  overflow: hidden;
  border-right: 1px solid #d9d9d9;
  box-shadow: 0 0 16px -6px #000000;
  -webkit-box-shadow: 0 0 16px -6px #000000;
  -moz-box-shadow: 0 0 16px -6px #000000;
  width: 200px;
  min-height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 102;
  left: 0;
  -webkit-overflow-scrolling: touch;
}

header .top_nav {
  display: table;
  margin: 25px auto;
}
header .top_nav img {
  width: 100%;
  padding: 0 20px;
}

header .nav_section ul {
  border-top: 1px solid #d9d9d9;
  margin-top: 50%;
}

header .nav_section li {
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
}

header .nav_section li a {
  height: 100px;
  position: relative;
  display: block;
  font-size: 14px;
  color: black;
}

header .nav_section li a span {
  position: absolute;
  top: 22%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: relative;
  display: table;
  margin: 0 auto;
  font-family: Overlock;
  font-weight: 700;
}

/* header .nav_section li a span::before {
    content: 'hey';
    display: block;
    padding-bottom: 10px;
} */
header .nav_section li a i {
  font-size: 30px;
  padding-top: 20px;
  color: #5a5a5a;
}

.main_container {
  margin-left: 200px;
}

.featured_container {
  background: red;
  height: 500px;
  position: relative;
  background-size: cover !important;
  color: #ffffff;
}

.featured_container .overlay {
  transition: all 0.25s;
  box-shadow: inset 0 0 0 0 white;
  background: rgba(0, 0, 0, 0.28);
  min-height: 100%;
}

.featured_container:hover .overlay {
  transition: all 0.25s;
  background: rgba(1, 1, 1, 0.48);
}

.featured_container .info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 400px;
}

.featured_container .info .top h2 {
  font-size: 20px;
  background: #202020;
  padding: 5px 10px;
  display: inline-block;
}

.featured_container .info .description h3 {
  font-weight: 700;
  font-size: 40px;
  font-family: Overlock;
}

.featured_container .info .description p {
  font-family: Roboto;
  font-size: 12px;
}

.pizzas_wrapper .articles {
  width: 100%;
  overflow: hidden;
}

.pizzas_wrapper .articles .item {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  width: 50%;
  float: left;
}

.pizzas_wrapper .inner-item {
  height: 380px;
  position: relative;
  background-size: cover !important;
  color: #ffffff;
  margin: 1px;
}

.pizzas_wrapper .inner-item .overlay {
  transition: all 0.25s;
  box-shadow: inset 0 0 0 0 white;
  background: rgba(0, 0, 0, 0.28);
  min-height: 100%;
}

.pizzas_wrapper .inner-item:hover .overlay {
  transition: all 0.25s;
  background: rgba(1, 1, 1, 0.48);
}
.pizzas_wrapper .inner-item .item-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 400px;
}

.title_page {
  position: fixed;
  width: 100%;
  left: 0;
  padding-left: 200px;
  background-color: black;
  height: 50px;
  z-index: 100;
  backface-visibility: hidden;
  top: 0;
}

.title_page h1 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  float: left;
  text-transform: initial;
  height: 50px;
  min-height: 100%;
  padding: 18px 18px;
  color: white;
}

.content_wrapper {
  margin-top: 50px;
}

.content_wrapper h1 {
  font-family: Overlock;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.content_wrapper .inner {
  text-transform: initial;
  text-align: center;
  padding: 45px 25%;
}

.content_wrapper .middle {
  padding: 0 25px 25px 25px;
}

.content_wrapper .middle .inner_middle {
  margin: 0 -1px;
}

.content_wrapper .middle .inner_middle .item.two_c {
  width: 50%;
  float: left;
}

.content_wrapper .middle .inner_middle .item.two_c .wrapp {
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 0;
  margin-bottom: 40px;
}

.content_wrapper .middle .inner_middle .item.two_c .wrapp .top {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  height: 220px;
}

.content_wrapper .middle .inner_middle .item.two_c .wrapp .bottom {
  position: relative;
  transition: all 0.25s;
  background-color: white;
  padding: 40px;
}

.content_wrapper .middle .inner_middle .item.two_c .wrapp .bottom h2 {
  font-size: 14px;
  font-family: Overlock;
  font-weight: 700;
  text-transform: initial;
  margin-bottom: 10px;
}

.content_wrapper .middle .inner_middle .item.two_c .wrapp .bottom h3 {
  font-size: 12px;
}

.content_wrapper .middle .inner_middle .item.two_c .wrapp .bottom p {
  font-size: 13px;
  font-weight: 100;
  font-family: "Graphik", sans-serif;
  color: #343434;
  margin-bottom: 15px;
  line-height: 25px;
}

.pizza_page .top {
  background: red;
  height: 500px;
  position: relative;
  background-size: cover !important;
  color: #ffffff;
}

.pizza_page .middle {
  padding: 15px;
}

.pizza_page .middle .price {
  background: #f44336;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0px;
}

.login_btn {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.user_actions {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.admin_layout {
  padding: 20px;
}

.admin_layout h1,
h2,
h3,
h4 {
  font-family: Roboto;
}

.admin_layout .admin_header {
  color: #4e4e4e;
  border-bottom: 1px solid #bfbfbf;
}

.admin_layout .admin_header .admin_nav {
  margin-bottom: 20px;
}

.admin_layout .admin_header .admin_nav ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 3px 20px;
  background: #656565;
}

.admin_layout .admin_header .admin_nav ul li a {
  color: #ffffff;
}

.admin_panel {
  font-family: Roboto;
  margin-top: 20px;
}

.update {
  background: #4caf50;
  color: #ffffff;
  display: block;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.messages_container {
  position: relative;
}

.messages_container .item {
  border: 1px solid #d6d6d6;
  background: white;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
}

.messages_container .tag {
  margin-bottom: 5px;
  border-bottom: 1px solid #e4e4e4;
}

.messages_container .item .tag span {
  font-weight: 700;
  color: #2196f3;
}

.messages_container .delete_btn {
  position: absolute;
  background: #f44336;
  color: #fff;
  padding: 5px 10px;
  font-size: 10px;
  top: 0;
  right: 0;
}

form {
  margin-top: 50px;
}
